<meta charset="UTF-8">
<style type="text/css">@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&subset=cyrillic');
/* footer */
.fc-top {
    padding: 0 0 !important;
}
._customer-footer {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 23px;
    color: #ffffff;
    line-height: 36px;
    background: url("img/footer/footer-bg.png") top center;
    background-size: cover;
    box-sizing: border-box;
    font-weight: 600;
}
._customer-footer_cont {
    max-width: 1227px;
    min-width: 308px;
    padding: 5px 48px 30px 5px;
    margin: 0 auto;
}
._customer-footer_top {
    display: flex;
    justify-content: space-around;
}
._customer-footer_logo img {
    max-width: 360px;
    height: auto;
}
._customer-footer_link {
    margin-top: 25px;
    margin-bottom: 25px;
}
._customer-footer_link ul {
    padding-left: 0;
    margin: 0;
}
._customer-footer_link li {
    display: inline-block;
    background: url("img/footer/linkbg-footer.png") 0 22px no-repeat;
    margin-right: 20px;
}
._customer-footer_link li:last-child {
    margin-right: 0;
}
._customer-footer_link li a {
    color: #0e3d59;
    font-size: 30px;
    line-height: 62px;
    padding-left: 25px;
}
._customer-footer_link li a:hover {
    text-decoration: none;
}
._customer-footer_contact {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 34px;
    padding: 30px 54px;
    border: 2px solid #ffffff;
    background-color: rgba(30, 89, 123, 0.7);
    border-radius: 30px/20px;
    margin-top: -25px;
}
._customer-footer_contact-left {
    margin-right: 20px;
}
._customer-footer_contact a {
    color: #ffffff;
    text-decoration: none;
}
._customer-footer_contact a:hover {
    text-decoration: underline;
}
._customer-footer_address {
    background: url("img/footer/maps.png") 0 5px no-repeat;
}
._customer-footer_work {
    background: url("img/footer/clock.png") 0 7px no-repeat;
}
._customer-footer_phone {
    background: url("img/footer/phone.png") 0 5px no-repeat;
}
._customer-footer_mail {
    background: url("img/footer/mail.png") 0 10px no-repeat;
}
._customer-footer_address,
._customer-footer_work,
._customer-footer_phone,
._customer-footer_mail {
    padding-left: 40px;
}
._customer-btn {
    max-width: 236px;
    font-size: 20px;
    border: 2px solid #ffffff;
    height: 55px;
    line-height: 55px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}
._customer-btn:hover {
    background: #ffffff;
    color: #0e3d59;
    transition: 0.5s;
}
._customer-footer_bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
._customer-footer_offer {
    font-size: 14px;
    line-height: 18px;
    padding-left: 60px;
    width: 60%;
}
._customer-footer_disk{
    height: 45px;
    line-height: 1.4;
    text-align: left;
    color: #2d3146;
    font-size: 14px;
    font-weight: 400;
    width: 25%;
}
._customer-footer_disk a{
    color: #2d3146!important;
    text-decoration: underline!important;
    text-decoration-style: dotted!important;
}
._customer-footer_support{
    font-size: 11px;
}

@media (max-width:768px) {
    ._customer-footer_top {
        display: block;
    }
    ._customer-footer_link {
        margin-top: 0;
    }
    ._customer-footer_link ul {
        padding-left: 30px;
    }
    ._customer-footer_contact {
        display: block;
    }
    ._customer-footer_contact-left {
        margin-right: 0;
    }
    ._customer-btn {
        margin: 30px auto 0;
    }
}
@media (max-width:480px) {
    ._customer-footer {
        padding: 5px 5px 40px 5px;
        font-size: 18px;
    }
    ._customer-footer_contact {
        padding: 30px 15px;
        margin: 0;
    }
    ._customer-footer_logo {
        text-align: center;
    }
    ._customer-footer_logo img {
        width: 90%;
    }
    ._customer-footer_link li a {
        font-size: 24px;
    }
}
</style>
<!-- footer -->
<footer class="_customer-footer" itemscope="" itemtype="http://schema.org/LocalBusiness">
    <div class="_customer-footer_cont">
        <div class="_customer-footer_top">
            <div class="_customer-footer_logo">
                <a href="http://www.rusboltspb.ru">
                    <img alt="Логотип" itemprop="logo" src="img/footer/logo-footer.png" />
                </a>
            </div>
            <div class="_customer-footer_link">
                <ul>
                    <li><a href="/catalog/k-2644955-bolty">Болты</a></li>
                    <li><a href="/catalog/k-2644969-vint_iso">Винты</a></li>
                    <li><a href="/catalog/k-2644966-gayka_din">Гайки</a></li>
                    <li><a href="/catalog/k-2644979-shayba_din">Шайбы</a></li>
                    <li><a href="/catalog/k-2644987-shpilka_din">Шпильки</a></li>
                </ul>
            </div>
        </div>

        <div class="_customer-footer_contact">
            <div class="_customer-footer_contact-left">
                <div class="_customer-footer_address" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                    <span itemprop="addressLocality">г. Санкт-Петербург,</span>&nbsp;
                    <span itemprop="streetAddress">ул. Уральская, 13, К</span>
                </div>
                <div class="_customer-footer_work" content="Mo,Tu,We,Th,Fr 08:00-17:00" itemprop="openingHours">
                    <span>Время работы: пн-пт 8:00-17:00, без перерыва.</span>
                </div>

                <div class="_customer-footer_phone">
                    <span><a href="tel:+78124491735" itemprop="telephone"
                             onclick="yaCounter44344816.reachGoal('megasite_footer_tel'); return true;">
                        +7 (812) 449-17-35</a>
                    </span>
                </div>
            </div>
            <div class="_customer-footer_contact-right">
                <div class="_customer-footer_mail">
                    <span><a href="mailto:rusbolt@rbolt.ru" itemprop="email"
                             onclick="yaCounter44344816.reachGoal('megasite_footer_email'); return true;">
                        rusbolt@rbolt.ru</a>
                    </span>
                </div>
                <div class="_customer-footer_btn">
                    <div class="js-ga-link js-orders-callback-link tmpl-communication-content _customer-btn"
                         data-company-id="98978888" data-company-name="Русболт" data-company-name-rest="ООО"
                         data-company-url="http://www.rusboltspb.ru" data-ga-id="CK-1193-1"
                         data-params="{&quot;company_id&quot;:98978888}" data-statistics="1" data-type="callback"
                         onclick="yaCounter44344816.reachGoal('megasite_footer_callback'); return true;">
                        Заказать звонок
                    </div>
                </div>
            </div>
        </div>
        <div class="_customer-footer_bottom">
            <div class="_customer-footer_offer">
                *Информация о наличии, актуальной цене и сроке поставки товаров на сайте обновляется раз в месяц.
                Актуальную информацию на момент звонка просим уточнять у менеджеров компании.
            </div>
            <div class="_customer-footer_disk">
                <a href="http://www.pulscen.ru/about/disk/individual_support">
                    <span>Продвижение сайта</span><br />
                    <span class="_customer-footer_support">Индивидуальное сопровождение Пульс цен</span>
                </a>
            </div>
        </div>
    </div>
</footer>


